- if(hook_ids.length > 0)
  %h2 Your Hooks
    .hooks
      %ul
        - each hook in hook_ids
          %li
            %a{href: "/hooks/" + hook}= hook
- if(hook_ids.length == 0)
  .buttons
    %form{action: '/hooks', method: 'POST'}
      %button{ type: 'submit' } make one

