body {
  font-size              : 200%;
  color                  : #999;
  width                  : 800px;
  margin                 : 0 auto;
  background             : #000;
  font-family            : Helvetica, "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

a {
  color            : #ff0;
  text-decoration  : none;
}
a:hover { text-decoration  : underline; }

#fb-name {
  display: none;
}

#fb-pic {
  display: block;
}

img {
  border: 1px solid #ff0;
}

#header {
  position: absolute;
  bottom: 0px;
}

#header > h1 {
  font-size              : 150%;
  font-weight            : bold;
  font-stretch           : expanded;
  margin                 : 10px auto;
}

#messages {
  position: absolute;
  text-align: center;
  bottom: 120px;
}

#my-account {
  position: absolute;
  right: 10%;
  top: 0px;
  padding: 5px 15px 0px 15px;
  margin: 0;
  border: 1px solid #ff0;
  border-top: none;
}

#main {
  margin-top: 150px;
}


label {
  display                : inline;
  color                  : #ff0;
  text-align             : center;
}

pre {
  color: #000;
  font-size: 40%;
  text-align: center;
  padding-bottom: 20px;
}

input {
  display                : block;
  color                  : #ff0;
  height                 : 200px;
  width                  : 700px;
  border                 : 1px solid #ff0;
  margin                 : 2px auto;
  font-size              : 300%;
  background             : #000;
  align                  : center;
}

.buttons a, .buttons button {
  display                : block;
  margin                 : 0 auto;
  background-color       : #ff0;

  font-size              : 200%;
  line-height            : 130%;
  text-decoration        : none;
  font-weight            : bold;
  color                  : #000;
  cursor                 : pointer;
}

.buttons button {
  margin                 : 5px auto;
  margin-top             : 20px;
  width                  : 500px;
  height                 : 200px;
  overflow               : visible;
  border-radius          : 6px;
  -moz-border-radius     : 6px;
  -webkit-border-radiusf : 6px;
}

.buttons button.small {
  margin-top             : 20px;
  width                  : 300px;
  height                 : 100px;
}

